html {
	height: 100%;
	width: 100%;
	font-family: 'Roboto';
	font-weight: 300;
	margin : 0;
	box-sizing: border-box;
}

*, *:before, *:after {
	box-sizing: inherit;
}

body {
	height: 100%;
	width: 100%;
	font-size: 16px;
	margin: 0;
}

#edumeet {
	height: 100%;
	width: 100%;
}